# dify plugin python sdk
dify_plugin~=0.4.3
markdown~=3.8.2

# for tables
pandas[excel,html,xml]~=2.3.1

# for markdown to pdf
xhtml2pdf~=0.2.17

# for markdown to xml
lxml>=6.0.0

# for markdown to rst
mistune~=3.1.3

# for markdown to docx
htmldocx~=0.0.6
python-docx~=1.1.2
bs4~=0.0.2

# for markdown to pptx
python-pptx~=1.0.2

# for markdown to png
PyMuPDF~=1.26.3
pillow~=11.3.0

# deprecated 1:
# markdowntodocx~=0.1.5.10
# python-docx~=1.1.2

# deprecated 2:
# html2docx~=1.6.0
